body {
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
  background: #0d1117;
  color: white;
}

header {
  background: linear-gradient(to right, #161b22, #361b42);
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid gray;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#chart {
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 600px;
  height: 400px;
}

footer {
  background: linear-gradient(to right, #161b22, #361b42);
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray;
}
